# These are the kernel flags desired for the RIAPS Platform
#
# Flags for time synchronization efforts
#
CONFIG_NETWORK_PHY_TIMESTAMPING=y

#
# Flags to enable use of Quota tools
#
CONFIG_QFMT_V2=y
CONFIG_QUOTA_TREE=y
CONFIG_QUOTA_NETLINK_INTERFACE=y

#
# Flags for BPF
#
CONFIG_BPF_SYSCALL=y
CONFIG_KPROBES=y
CONFIG_TRACEPOINTS=y
CONFIG_FTRACE=y
CONFIG_DYNAMIC_FTRACE=y
#CONFIG_KPROBE_EVENTS_ON_NOTRACE=y  - consider adding this, not in initial testing